.body {
    max-width: @max-body-width;
    margin-left: auto;
    margin-right: auto;

    .header {
        padding: @medium 0 0 0;
        height: @med-large;

        .title {
            float: left;
        }

        .logout {
            float: right;
        }
    }

    .main-content {

    }
}