<div data-ng-controller="EditController as vm" class="edit-lock">
    <div>
        <div>
            <div>
                <nav role= "navigation" >
                    <div>
                        <a href= "#/locks">Locks List </a>
                        <a ng-show="vm.lock._id" href= "#/edit-lock/0">Create Lock </a>
                        <a ng-show="vm.lock._id" >Currently Editing Lock Number: {{ lock._id }}</a>
                    </div>
                </nav>

                <header>
                    <h3>{{ title }}</h3>
                </header>

                <div>
                    <form role="form" name="myForm" class="form-horizontal">
                        <div>
                            <div class= "form-group" ng-class="{ error: myForm.what.$invalid }">
                                <label>What</label>
                                <div>
                                    <input name="what" ng-model="vm.lock.what" type= "text" class= "form-control" placeholder="What" required/>
                                    <span ng-show="myForm.what.$dirty && myForm.what.$invalid" class="help-inline">It cannot be empty</span>
                                </div>
                            </div>

                            <div class= "form-group" ng-class="{ error: myForm.email.$invalid }">
                                <label> Email address </label>
                                <div>
                                    <input name="email" ng-model="vm.lock.email" type= "email" class= "form-control" placeholder="Email" required/>
                                    <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>
                                    <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
                                </div>
                            </div>

                            <div class= "form-group" ng-class="{ error: myForm.password.$invalid }">
                                <label>Password</label>
                                <div>
                                    <input name="password" ng-model="vm.lock.password" type= "text" class= "form-control" placeholder="Password" required/>
                                    <span ng-show="myForm.password.$dirty && myForm.password.$invalid" class="help-inline">Password</span>
                                </div>
                            </div>

                            <div class= "form-group">
                                <div>
                                    <a href="#/" translate>CANCEL</a>
                                    <button ng-click="vm.saveLock(vm.lock)" ng-disabled="myForm.$invalid" translate>SAVE</button>
                                    <button ng-click="vm.deleteLock(vm.lock)" ng-show="vm.lock._id" translate>DELETE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
